<h1>H!</h1>
{% if noFollowRobots %}
    <hr>
{% endif %}
<h3>{{ f }}</h3>
<hr>
{% if shops is defined %}
    <p>{{ shops }}</p>
{% endif %}
<hr>
{% if statistic is defined %}
    <p>{{ statistic }}</p>
{% endif %}